<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #login="ngForm" (ngSubmit)="onSubmit(login)">

    <mat-form-field>
      <input 
        type="email" 
        matInput 
        placeholder="Your email" 
        ngModel 
        name="email"
        email
        required
        #emailInput="ngModel">
        <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Password should be at least 6 characters long">
      <input 
        type="password" 
        matInput 
        placeholder="Your password" 
        ngModel 
        name="password"
        required
        minlength="6"
        #pwInput="ngModel">
      <mat-hint align="end">{{pwInput.value?.length}} / 6 </mat-hint>
      <mat-error >has to be 6 characters long</mat-error>
    </mat-form-field>
    
    <button type="submit" mat-raised-button color="primary" [disabled]="login.invalid">Submit</button>

  </form>
</section>
