<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a routerLink="/">LOGO</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
            <li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
            <li *ngIf="isAuth"><a routerLink="/training">Training</a></li>
            <li style="cursor: pointer" (click)="onLogout()" *ngIf="isAuth"><a>Logout</a></li>
        </ul>    
    </div>
</mat-toolbar>
