<div class="welcome" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <h1>ACTIVITY</h1>
    <p>Stay active, enjoy better health and have fun!</p>
  </section>
  <section>
    <h1>COMMUNITY</h1>
    <p>Get to know others that share your passion!</p>
  </section>
  <section>
    <h1>CHALLENGES</h1>
    <p>Find some new challenges to dive into!</p>
  </section>
</div>
